@import "../imports/variables";

.container {
  margin-bottom: 1rem;
  position: relative;
  z-index: 2;
}

.title {
  letter-spacing: -0.025em;
  font-weight: 800;
  color: $text-black;
  font-size: 3rem; /* 48px */
  line-height: 1;

  &1 {
    color: rgba(249, 250, 251, 1);
  }

  &2 {
    display: block;
    color: $text-purple;
  }
}

.subtitle {
  margin-top: 0.75em;
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  color: $text-white-100;
}

.button {
  background-color: $text-purple-dark;
  cursor: pointer;
  color: white;
  outline: 0;
  border: 0;
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  padding: 1rem 2.5rem;

  &:hover {
    background-color: $text-purple-dark;
  }

  &Wrapper {
    margin-top: 1.25rem; /* 20px */
  }
}

@media (min-width: $breakpointSm) {
  .title {
    font-size: 3rem; /* 48px */
    line-height: 1;
  }

  .subtitle {
    margin-top: 1.25rem;
    max-width: 36rem;
  }

  .buttonWrapper {
    display: flex;
    margin-top: 2rem;
  }
}

@media (min-width: $breakpointMd) {
  .title {
    font-size: 3.75rem;
    line-height: 1;
  }

  .subTitle {
    margin-top: 1.25rem;
  }

  .button {
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding: 1rem 2.5rem;
  }
}

@media (min-width: $breakpointLg) {
  .container {
    text-align: left;
  }

  .title {
    font-size: 4.5rem;
    line-height: 1;

    &2 {
      padding-left: 0.5rem;
    }
  }

  .subTitle {
    margin-left: 0;
    margin-right: 0;
  }

  .buttonWrapper {
    justify-content: flex-start;
  }
}

@media (min-width: $breakpointXl) {
  .title2 {
    display: inline;
  }
}